name: CI Pipeline
on: [workflow_dispatch]
jobs:
  test:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v5.0.0

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@6d653acede28d24f02e3cd41383119e8b1b35921
        with:
          toolchain: stable
          targets: x86_64-pc-windows-msvc
          components: rustfmt, clippy

      - name: Test
        run: cargo test

  build:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v5.0.0

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@6d653acede28d24f02e3cd41383119e8b1b35921
        with:
          toolchain: stable
          targets: x86_64-pc-windows-msvc
          components: rustfmt

      - name: Build Release
        run: cargo build --target x86_64-pc-windows-msvc --release --bin gui

      - name: Upload Built Artifacts (.exe)
        uses: actions/upload-artifact@v5.0.0
        with:
          name: replanted_cheats.exe
          path: target/x86_64-pc-windows-msvc/release/gui.exe
